.about-hero {
  height: 552px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  h1 {
    margin-left: 50px;
  }
  p {
    color: white;
    font-weight: 400;
    font-size: 38px;
    margin-left: 50px;
  }
}
.about-carbono {
  background-color: $toroto-yellow;
  min-height: 472px;
  padding-top: 50px;
  h2 {
    margin-left: 50px;
  }
  p {
    color: white;
    font-weight: 400;
    font-size: 40px;
    margin-left: 50px;
    &.magenta {
      color: $toroto-magenta;
      font-weight: 600;
      font-size: 44px;
      margin-top: 75px;
    }
  }
}

.offset {
  h3 {
    margin-left: 50px;
    margin-top: 100px;
  }
  p {
    &.actions {
      color: $toroto-green;
      font-weight: 600;
      font-size: 44px;
      margin-left: 50px;
      margin-top: 125px;
    }
  }
}
.suggestions {
  display: flex;
  justify-content: center;
  p {
    color: black;
    font-weight: 400;
    font-size: 24px;
  }
  > div {
    width: 40%;
    text-align: center;
  }
}
.acquire {
  background-color: $toroto-magenta;
  min-height: 472px;
  padding-top: 50px;
  h3 {
    margin-left: 50px;
  }
  p {
    color: white;
    font-weight: 400;
    font-size: 40px;
    margin-left: 50px;
    &.yellow {
      color: $toroto-yellow;
      font-weight: 600;
      font-size: 44px;
      margin-top: 75px;
    }
  }
}

.carousel {
  margin-bottom: 50px;
}
.carouselItem {
  position: relative;
  height: 560px;
  width: 100%;
  h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
  }
  img {
    object-fit: cover;
    width: 100%;
  }
}
