$toroto-blue: #1930db;
$toroto-magenta: #ba1863;
$toroto-green: #0ed956;
$toroto-yellow: #ffbc15;

body {
  background-color: #fff;
  font-family: "Oswald", sans-serif;
}

header {
  background-color: $toroto-blue;
}

.about-hero {
  height: 552px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  h1 {
    margin-left: 50px;
  }
  p {
    color: white;
    font-weight: 400;
    font-size: 38px;
    margin-left: 50px;
  }
}
.about-carbono {
  background-color: $toroto-yellow;
  min-height: 472px;
  padding-top: 50px;
  h2 {
    margin-left: 50px;
  }
  p {
    color: white;
    font-weight: 400;
    font-size: 40px;
    margin-left: 50px;
    &.magenta {
      color: $toroto-magenta;
      font-weight: 600;
      font-size: 44px;
      margin-top: 75px;
    }
  }
}

.circles {
  width: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.offset {
  h3 {
    margin-left: 50px;
    margin-top: 100px;
  }
  p {
    &.actions {
      color: $toroto-green;
      font-weight: 600;
      font-size: 44px;
      margin-left: 50px;
      margin-top: 125px;
    }
  }
}
.suggestions {
  display: flex;
  justify-content: center;
  p {
    color: black;
    font-weight: 400;
    font-size: 24px;
  }
  > div {
    width: 40%;
    text-align: center;
  }
}
.acquire {
  background-color: $toroto-magenta;
  min-height: 472px;
  padding-top: 50px;
  h3 {
    margin-left: 50px;
  }
  p {
    color: white;
    font-weight: 400;
    font-size: 40px;
    margin-left: 50px;
    &.yellow {
      color: $toroto-yellow;
      font-weight: 600;
      font-size: 44px;
      margin-top: 75px;
    }
  }
}
.stripe {
  width: auto;
  display: block;
  margin: 0 auto;
  height: 100px;
  background-repeat: repeat-x;
  margin-top: 150px;
}

footer {
  background-color: $toroto-blue;
  height: 505px;
  display: flex;
  justify-content: space-between;
  .footerLeft {
    position: relative;
    flex: 1 1 100%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      &.toroto {
        top: 140px;
        left: 160px;
      }
      &.slogan {
        left: 180px;
        top: 240px;
      }
    }
  }
  .footerRight {
    flex: 3 3 100%;
    padding-top: 100px;
    .socialLogo {
      display: flex;
      justify-content: flex-end;
      width: 900px;
      border-bottom: 1px solid white;
      padding-bottom: 15px;
      margin-right: 60px;
      a {
        margin-right: 45px;
      }
    }
    nav {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 60px;
      margin-top: 30px;
      a {
        color: white;
        text-decoration: none;
        font-weight: 300;
        font-size: 23px;
        margin-bottom: 15px;
      }
    }
  }
}
.carouselItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  img {
    object-fit: cover;
  }
}

.landing-hero {
  height: 552px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  h1 {
    margin-left: 50px;
  }
}
.landing-button {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 50px;
  p {
    color: white;
    font-weight: 400;
    font-size: 38px;
  }
  button {
    border-radius: 16px;
    width: 294px;
    height: 74px;
    font-weight: 600;
    font-size: 28px;
    color: #fff;
    background-color: $toroto-magenta;
    border: 0;
    &:focus {
      outline: 0;
    }
  }
}
.landing-image {
  height: 552px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  h2 {
    margin-left: 50px;
    margin-top: 80px;
  }
  p {
    color: white;
    font-weight: 400;
    font-size: 38px;
    margin-left: 50px;
    margin-top: 90px;
  }
}

.project-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding-top: 50px;
}
.project-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-card-inner {
  display: flex;
  border-radius: 16px;
  box-shadow: -3px 6px 4px rgba(0, 0, 0, 0.25);
  width: 615px;
  height: 428px;
  > div {
    width: 50%;
  }
  .project-card-image {
    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0px 16px 16px 0px;
    }
  }
  .project-card-data {
    margin-left: 18px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    p {
      margin: 0;
    }
    button {
      border-radius: 16px;
      color: white;
      background-color: $toroto-green;
      width: 192px;
      height: 50px;
      font-weight: 600;
      font-size: 22px;
      border: 0;
      align-self: flex-end;
      margin-right: 15px;
      margin-bottom: 22px;
      &:focus {
        outline: 0;
      }
    }
  }
  .project-name {
    font-weight: 600;
  }
}
.project-page {
  background-color: $toroto-magenta;
  min-height: 472px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  h3 {
    margin-left: 50px;
    margin-top: 50px;
  }
  button {
    width: 294px;
    height: 74px;
    border-radius: 16px;
    background-color: $toroto-yellow;
    font-weight: 600;
    font-size: 29px;
    color: white;
    border: 0;
    align-self: flex-end;
    margin-right: 30px;
    margin-bottom: 22px;
  }
}
.circle {
  margin-bottom: 60px;
}
.circles-landing {
  width: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.about-project {
  height: 552px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  h1 {
    margin-left: 50px;
  }
  p {
    color: white;
    font-weight: 400;
    font-size: 44px;
    margin-left: 100px;
    margin-top: 30px;
  }
}

.img-project {
  max-width: 800px;
  min-width: 600px;
  margin: 0 auto;
  padding-top: 70px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.basic-info {
  display: flex;
  justify-content: center;
  padding-left: 50px;
  padding-bottom: 50px;
  > div {
    display: flex;
    align-items: center;
    border-right: 5px solid $toroto-blue;
    padding-left: 50px;
    p {
      font-weight: 400;
      font-size: 34px;
      padding-right: 80px;
      padding-left: 50px;
    }
    &:last-of-type {
      border-right: none;
    }
  }
}

.project-info {
  font-weight: 300;
  font-size: 34px;
  text-align: justify;
  line-height: 62px;
  padding: 0 50px 15px;
}
.aditional-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 200px;
  padding-bottom: 50px;
  padding-top: 50px;
  > div {
    display: flex;
    flex: 1 1 50%;
    align-items: center;
    p {
      font-weight: 400;
      font-size: 34px;
      padding-left: 30px;
    }
  }
}

.bono-icon {
  display: flex;
  justify-content: center;
  padding-left: 50px;
  padding-bottom: 50px;
  > div {
    display: flex;
    align-items: center;
    border-right: 5px solid $toroto-blue;
    padding-left: 50px;
    padding-top: 80px;
    padding-bottom: 100px;
    p {
      font-weight: 400;
      font-size: 34px;
      padding-right: 80px;
      padding-left: 50px;
    }
    &:last-of-type {
      border-right: none;
    }
  }
}
button.buy {
  display: block;
  margin: 0 auto;
  width: 537px;
  height: 193px;
  border-radius: 16px;
  color: $toroto-magenta;
  background-color: $toroto-yellow;
  font-weight: 600;
  font-size: 51px;
  margin-bottom: 80px;
  margin-top: -40px;
  border: 0;
}

.heading {
  color: white;
  font-size: 50px;
  font-weight: 600;
  line-height: 2;
  padding: 2px 0;
  margin: 0px auto;
  padding-top: 60px;
  padding-left: 50px;
  span {
    display: inline;
    padding: 0.45rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }

  &.bg-blue span {
    background-color: $toroto-blue;
  }
  &.bg-yellow span {
    background-color: $toroto-yellow;
  }
  &.bg-magenta span {
    background-color: $toroto-magenta;
  }
  &.bg-green span {
    background-color: $toroto-green;
  }
}
