$toroto-blue: #1930db;
$toroto-magenta: #ba1863;
$toroto-green: #0ed956;
$toroto-yellow: #ffbc15;
$breakpoint-sm: 768px;

body {
  background-color: #fff;
  font-family: "Oswald", sans-serif;
}

header {
  background-color: $toroto-blue;
}

@import "common";
@import "footer";
@import "about";
@import "landing";
@import "project";
